body{
    margin: 0;
    padding: 0;
}

.as{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url("images/Background/map.jpg");
    background-size: cover;

  z-index: 1;
}


/* Icons */

.medicRed, .heavyRed, .spyRed, .pyroRed, .sniperRed, .demomanRed, .scoutRed, .soldierRed, .engineerRed, .medicBlue, .heavyBlue, .spyBlue, .pyroBlue, .sniperBlue, .demomanBlue, .scoutBlue, .soldierBlue, .engineerBlue{
    border-radius: 50%;
    position: absolute;
    width:  40px;
    height: 40px;
    background-size: cover;
    z-index: 2;
}

.medicRed{
    left: 58%;
    top: 40%;
}

.heavyRed{
    left: 59.7%;
    top: 40%;
}

.spyRed{
    
    left: 69%;
    top: 31%;
}

.pyroRed{
    left: 22%;
    top: 77%;
}

.sniperRed{
    left: 46%;
    top: 44%;
}

.demomanRed{
    left: 75%;
    top: 64%;
}

.scoutRed{
    left: 34%;
    top: 39%;
}

.soldierRed{
    left: 73.4%;
    top: 64%;
}

.engineerRed{
    left: 24.4%;
    top: 77%;
}


.pyroBlue{
    right: 11%;
    bottom: 77%;
} 

.sniperBlue{
    right: 36%;
    top: 44%;
} 



.engineerBlue{
    
    right: 13%;
    bottom: 77%;
}

/* conv with red pyro and engi */

.redPyro{
    position: absolute;
    left: 35%;
    top: 40%;
    height: 20%;
    z-index: 2;
}

.redEngi{
    position: absolute;
    left: 40%;
    top: 35%;
    height: 35%;
    z-index: 2;
}

/* conv with red scout */

.redScout{
    position: absolute;
    left: 23%;
    top: 27%;
    height: 60%;
    z-index: 2;
}

/* conv with red sniper */

.redSniper{
    position: absolute;
    left: 40%;
    top: 20%;
    height: 60%;
    z-index: 2;
}


/* conv with red heavy and medic */
.redHeavy{
    position: absolute;
    left: 40%;
    top: 2%;
    height: 120%;
    z-index: 2;
}

.redMedic{
    position: absolute;
    left: 35%;
    top: 1%;
    z-index: 2;
}

/* conv with red Soldier and Demoman */
.redDemoman{
    position: absolute;
    left: 40%;
    top: 2%;
    z-index: 2;
}

.redSoldier{
    position: absolute;
    left: 60%;
    top: 1%;
    z-index: 2;
}

.txt{
    position: absolute;
    width: 40%;
    height: 20%;
    left: 30%;
    background-Color: black;
    color: white;
    font-size: 30px;
    border: white 1px solid;
    bottom: 0;
    z-index: 0;
}

.p{
    position: absolute;
    left: 4%;
}

.redSpy{
    position: absolute;
    left: 40%;
    top: 40%;
    z-index: 2;
    height: 50%;
}

.BluePyro{
    position: absolute;
    left: 30%;
    top: 30%;
    z-index: 2;
    height: 60%;
}

.BlueEngineer{
    position: absolute;
    left: 60%;
    top: 30%;
    z-index: 2;
    height: 60%;

}

.BlueSniper{
    position: absolute;
    left: 30%;
    top: 30%;
    z-index: 2;
    height: 70%;
}

.back{
    position: absolute;
    width:  40px;
    height: 40px;
    background-size: cover;
    z-index: 2;
    background-color: red;
    color: white;
    z-index: 0;
}

.test2{
    position: absolute;
    width:  40px;
    height: 40px;
    background-size: cover;
    z-index: 2;
    background-color: red;
    color: white;
    z-index: 3;
    left: 97.5%;
    bottom: 0;
}

.txt9{
    position: absolute;
    width: 40%;
    height: 20%;
    left: 30%;
    background-Color: black;
    color: white;
    font-size: 30px;
    border: white 1px solid;
    bottom: 0;
    z-index: 0;
}