body{
    margin: 0;
    padding: 0;
}

.as{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url("images/Background/map.jpg");
    background-size: cover;
  background-repeat: no-repeat;
}


/* Icons */

.medicRed, .heavyRed, .spyRed, .pyroRed, .sniperRed, .demomanRed, .scoutRed, .soldierRed, .engineerRed, .medicBlue, .heavyBlue, .spyBlue, .pyroBlue, .sniperBlue, .demomanBlue, .scoutBlue, .soldierBlue, .engineerBlue{
    border-radius: 50%;
    position: absolute;
    width:  40px;
    height: 40px;
    background-size: cover;
}

.medicRed{
    left: 58%;
    top: 40%;
}

.heavyRed{
    left: 59.7%;
    top: 40%;
}

.spyRed{
    background-image: url("images/emblems/spyemb.png");
    left: 69%;
    top: 31%;
}

.pyroRed{
    left: 22%;
    top: 77%;
}

.sniperRed{
    background-image: url("images/emblems/SniperEmbRED.png");
    left: 46%;
    top: 44%;
}

.demomanRed{
    left: 75%;
    top: 64%;
}

.scoutRed{
    left: 34%;
    top: 39%;
}

.soldierRed{
    left: 73.4%;
    top: 64%;
}

.engineerRed{
    left: 24.4%;
    top: 77%;
}

.medicBlue{
background-image: url("images/emblems/MedicEmbBLU.png");
right: 13%;
bottom: 26%;
}

.heavyBlue{
background-image: url("images/emblems/HeavyEmbBLU.png");
right: 14.5%;
bottom: 26%;
} 

.spyBlue{
background-image: url("images/emblems/SpyEmbBLU.png");
right: 7%;
bottom: 36%;
} 

.pyroBlue{
background-image: url("images/emblems/PyroEmbBLU.png");
    right: 11%;
    bottom: 77%;
} 

.sniperBlue{
background-image: url("images/emblems/SniperEmbBLU.png");
    right: 36%;
    top: 44%;
} 

.demomanBlue{
background-image: url("images/emblems/DemomanEmbBLU.png");
right: 7%;
bottom: 30%;
} 

.scoutBlue{
background-image: url("images/emblems/ScoutEmbBLU.png");
right: 10%;
bottom: 30%;
} 

.soldierBlue{
background-image: url("images/emblems/SoldierEmbBLU.png");
right: 10%;
bottom: 30%;
}

.engineerBlue{
    background-image: url("images/emblems/EngineerEmbBLU.png");
    right: 13%;
    bottom: 77%;
}


/* conv with red pyro and engi */

.redPyro{
    position: absolute;
    left: 35%;
    top: 40%;
    height: 20%;
}

.redEngi{
    position: absolute;
    left: 40%;
    top: 35%;
    height: 35%;
}

/* conv with red scout */

.redScout{
    position: absolute;
    left: 23%;
    top: 27%;
    height: 60%;
}

/* conv with red sniper */

.redSniper{
    position: absolute;
    left: 40%;
    top: 20%;
    height: 60%;
}


/* conv with red heavy and medic */
.redHeavy{
    position: absolute;
    left: 40%;
    top: 2%;
    height: 120%;
}

.redMedic{
    position: absolute;
    left: 35%;
    top: 1%;
}

/* conv with red Soldier and Demoman */
.redDemoman{
    position: absolute;
    left: 40%;
    top: 2%;
}

.redSoldier{
    position: absolute;
    left: 60%;
    top: 1%;
}