body{
    margin: 0;
    padding: 0;
}

.as{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;background-image: url("map.jpg");
    background-size: cover;
  background-repeat: no-repeat;
}

.pyro_engi{
width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url("Red_ctf.jpg");
    background-size: cover;
  background-repeat: no-repeat;
}

.medicRed, .heavyRed, .spyRed, .pyroRed, .sniperRed, .demomanRed, .scoutRed, .soldierRed, .engineerRed, .medicBlue, .heavyBlue, .spyBlue, .pyroBlue, .sniperBlue, .demomanBlue, .scoutBlue, .soldierBlue, .engineerBlue{
    border-radius: 50%;
    position: absolute;
    width:  40px;
    height: 40px;
    background-size: cover;
}

.medicRed{
    background-image: url("20130809194339!Medic_emblem_RED.png");
    left: 58%;
    top: 40%;
}

.heavyRed{
    background-image: url("HeavyEmbRED.png");
    left: 59.7%;
    top: 40%;
}

.spyRed{
    background-image: url("spyemb.png");
    left: 69%;
    top: 31%;
}

.pyroRed{
    background-image: url("PyroEmbRED.png");
    left: 22%;
    top: 77%;
}

.sniperRed{
    background-image: url("SniperEmbRED.png");
    left: 46%;
    top: 44%;
}

.demomanRed{
    background-image: url("DemomanEmbRED.png");
    left: 75%;
    top: 64%;

}

.scoutRed{
    background-image: url("ScoutEmbRED.png");
    left: 34%;
    top: 39%;
}

.soldierRed{
    background-image: url("SoldierEmbRED.png");
    left: 73.4%;
    top: 64%;
}

.engineerRed{
    background-image: url("EngineerEmbRED.png");
    left: 24.4%;
    top: 77%;
}

.medicBlue{
background-image: url("MedicEmbBLU.png");
right: 13%;
bottom: 26%;
}

.heavyBlue{
background-image: url("HeavyEmbBLU.png");
right: 14.5%;
bottom: 26%;
} 

.spyBlue{
background-image: url("SpyEmbBLU.png");
right: 7%;
bottom: 36%;
} 

.pyroBlue{
background-image: url("PyroEmbBLU.png");
    right: 11%;
    bottom: 77%;
} 

.sniperBlue{
background-image: url("SniperEmbBLU.png");
    right: 36%;
    top: 44%;
} 

.demomanBlue{
background-image: url("DemomanEmbBLU.png");
right: 7%;
bottom: 30%;
} 

.scoutBlue{
background-image: url("ScoutEmbBLU.png");
right: 10%;
bottom: 30%;
} 

.soldierBlue{
background-image: url("SoldierEmbBLU.png");
right: 10%;
bottom: 30%;
}

.engineerBlue{
    background-image: url("EngineerEmbBLU.png");
    right: 13%;
    bottom: 77%;
}

.redPyro{
    position: absolute;
    left: 35%;
    top: 40%;
    height: 20%;
}

.redEngi{
    position: absolute;
    left: 40%;
    top: 35%;
    height: 35%;
}

